Import Libraries -> Import Data -> Read the CSV file -> Separating Data and Labels -> Standardize the Data -> Test-Train Split -> Training a model -> evaluate the model

In [55]:
# import library
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [56]:
# read the csv data
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [57]:
diabetes_dataset.shape

(768, 9)

In [58]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [59]:
# df.groupby('gender').value_counts()
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [60]:
# separating data and labels
X = diabetes_dataset.drop(['Outcome'], axis = 1)
y = diabetes_dataset['Outcome']

In [61]:
# standardize the data
scalar = StandardScaler()

In [62]:
X = scalar.fit_transform(X)

In [63]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 2, stratify= y)

In [64]:
print(X_train.shape ,X_test.shape )

(614, 8) (154, 8)

In [65]:
y_train

619    1
329    0
13     1
476    1
45     1
      ..
303    1
592    1
559    0
725    0
253    0
Name: Outcome, Length: 614, dtype: int64

In [66]:
# training the model

classifier = svm.SVC(kernel = 'linear')

In [67]:
classifier.fit(X_train,y_train)

SVC(kernel='linear')

In [68]:
# Evaluate the model : train_set
y_train_pred = classifier.predict(X_train)
train_set_accuracy = accuracy_score(y_train,y_train_pred)

In [69]:
train_set_accuracy

0.7866449511400652

In [70]:
# Evaluate the model : test_set
y_test_pred = classifier.predict(X_test)
test_set_accuracy = accuracy_score(y_test,y_test_pred)

In [71]:
test_set_accuracy

0.7727272727272727

Making prediction:
Take input data -> tranform into numpy array -> reshape the data -> standardize the data -> make prediction through the classifier.

In [72]:
input_data = [3,171,72,33,135,33.3,0.199,24]

input_numpy = np.asarray(input_data)

input_reshaped = input_numpy.reshape(1,-1)

input_standard = scalar.transform(input_reshaped)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [73]:
prediction = classifier.predict(input_standard)
print(prediction)

[1]

In [74]:
if prediction[0] == 1:
  print('Diabetic person')
else:
  print('Non-diabetic Person')

Diabetic person