## Data Analysis

import libraries -> import data file -> read the data -> (Explore the dataframe) -> separate data and label -> train test split -> standardize the data

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
hd_data = pd.read_csv('/content/heart_disease_data.csv')
hd_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
hd_data.shape

(303, 14)



*   no of features = 13
*   no fo patient = 303

In [4]:
hd_data.isnull().sum()
# hd_data.info()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

no null values

In [5]:
hd_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64



*   0 -> no heart diseas  : 138
*   1 -> heart disease    : 165

In [6]:
hd_data.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [7]:
# separate data and target
X = hd_data.drop('target', axis =1)
y = hd_data['target']

In [8]:
# train_test_splt
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 2)

In [9]:
# check size of train and test set
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(303, 13)
(242, 13)
(61, 13)

In [10]:
# standardize the data

scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

In [11]:
print(X_test_std[0])

[-1.03143083  0.69617712 -0.93821081  0.67190529  1.17731284 -0.39735971
 -1.00386825 -0.16057723  1.4500221  -0.89200846 -0.66896473  2.28537756
  1.18825929]

## Classification


*   SVM
*   Logistic Regression
*   Random Forest

import libraries -> train the classifier -> make prediction -> evaluate for training set -> evaluate for test set -> [make comparison??]

In [12]:
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [13]:
classifier_svm = svm.SVC()
classifier_lr = LogisticRegression()
classifier_rf = RandomForestClassifier(n_estimators= 10, criterion = 'entropy', random_state =2)

In [14]:
# train model
classifier_svm.fit(X_train_std, y_train)

SVC()

In [15]:
# train model
classifier_lr.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
# train model
classifier_rf.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=2)

## Evaluate the model

In [17]:
from sklearn.metrics import accuracy_score

Evaluation of SVM

In [18]:
# train set evaluation
svm_train_pred = classifier_svm.predict(X_train_std)
svm_train_acc = accuracy_score(y_train, svm_train_pred)

In [19]:
print(svm_train_acc)

0.9132231404958677

In [20]:
# test set evaluation
svm_test_pred = classifier_svm.predict(X_test_std)
svm_test_acc = accuracy_score(y_test, svm_test_pred)

In [21]:
print(svm_test_acc)

0.8032786885245902

Evaluation of Logistic Regression

In [22]:
# train set evaluation
lr_train_pred = classifier_lr.predict(X_train)
lr_train_acc = accuracy_score(y_train, lr_train_pred)

In [23]:
print(lr_train_acc)

0.8512396694214877

In [24]:
# test set evaluation
lr_test_pred = classifier_lr.predict(X_test)
lr_test_acc = accuracy_score(y_test, lr_test_pred)

In [25]:
print(lr_test_acc)

0.819672131147541

Evaluation of Random Forest Classifier

In [26]:
# train set evaluation
rf_train_pred = classifier_rf.predict(X_train)
rf_train_acc = accuracy_score(y_train, rf_train_pred)

In [27]:
print(rf_train_acc)

0.9917355371900827

In [28]:
# test set evaluation
rf_test_pred = classifier_rf.predict(X_test)
rf_test_acc = accuracy_score(y_test, rf_test_pred)

In [29]:
print(rf_test_acc)

0.7213114754098361

Test Accuracy:


*   SVM : 80%
*   Logistic Regression : 82%
*   Random Forest : 72%